<% include ../partials/header %>

<h2><%= travelPlace.name %></h2>

<img src="<%= travelPlace.image %>"/>

<p><%= travelPlace.description %></p>

<a class="btn btn-success" href="/travelplaces/<%= travelPlace._id %>/comments/new">Add a comment</a>

<% travelPlace.comments.map(comment => { %>
  <p>
    <strong><%= comment.author %></strong> - <%= comment.text %>
  </p>
<% }); %>

<% include ../partials/footer %>
